<div class="proyectos container-xxl">
  <div class="informacion row">
    <div class="col-11">
      <h2>Proyectos</h2>
      <div class="subrayadoTitulos"></div>
    </div>
    <div class="col-1">
      <app-crear-proyecto
        (onCrearProyecto)="crearProyecto($event)"
      ></app-crear-proyecto>
    </div>
  </div>
  <ul class="item-list">
    <li *ngFor="let proyecto of listaProyectos">
      <!--Template por si el objeto tiene foto-->
      <ng-template [ngIf]="proyecto.fotoProyecto">
        <div class="informacion row">
          <div class="col-3">
            <img [src]="proyecto.fotoProyecto" />
          </div>
          <div class="col-8">
            <h2>{{ proyecto.nombre }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ proyecto.descripcion }}</h4>
            <p>
              <time>{{ proyecto.inicioProyecto }}</time> -
              <time>{{ proyecto.finalizacionProyecto }}</time>
            </p>
          </div>
          <div class="botonera col-1">
            <button
              class="editar"
              (click)="buscarProyecto(proyecto)"
              type="button"
              data-toggle="modal"
              data-target="#editarProyectoForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button class="editar" (click)="deleteProyecto(proyecto)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
          <div class="informacion row">
            <h2>Links al proyecto :</h2>
            <div class="subrayadoSubtitulos"></div>
            <ul class="item-list links">
              <li>
                <p *ngIf="proyecto.descripcionLink1">
                  {{ proyecto.descripcionLink1 }}
                </p>
                <a href="{{ proyecto.link1 }}">{{ proyecto.link1 }}</a>
                <div class="minidivisor"></div>
              </li>
              <li *ngIf="proyecto.link2">
                <p *ngIf="proyecto.descripcionLink2">
                  {{ proyecto.descripcionLink2 }}
                </p>
                <a href="{{ proyecto.link2 }}">{{ proyecto.link2 }}</a>
                <div class="minidivisor"></div>
              </li>
              <li *ngIf="proyecto.link3">
                <p *ngIf="proyecto.descripcionLink3">
                  {{ proyecto.descripcionLink3 }}
                </p>
                <a href="{{ proyecto.link3 }}">{{ proyecto.link3 }}</a>
                <div class="minidivisor"></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="divisor"></div>
      </ng-template>
      <!--Template por si el objeto no tiene foto-->
      <ng-template [ngIf]="!proyecto.fotoProyecto">
        <div class="informacion row">
          <div class="col-11">
            <h2>{{ proyecto.nombre }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ proyecto.descripcion }}</h4>
            <p>
              <time>{{ proyecto.inicioProyecto }}</time> -
              <time>{{ proyecto.finalizacionProyecto }}</time>
            </p>
          </div>
          <div class="botonera col-1">
            <button
              class="editar"
              (click)="buscarProyecto(proyecto)"
              type="button"
              data-toggle="modal"
              data-target="#editarProyectoForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button class="editar" (click)="deleteProyecto(proyecto)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="informacion row">
          <div class="col-12">
            <h3>Links al proyecto :</h3>
          </div>
          <ul class="item-list links">
            <li>
              <p *ngIf="proyecto.descripcionLink1">
                {{ proyecto.descripcionLink1 }}
              </p>
              <a href="{{ proyecto.link1 }}">{{ proyecto.link1 }}</a>
              <div class="minidivisor"></div>
            </li>
            <li *ngIf="proyecto.link2">
              <p *ngIf="proyecto.descripcionLink2">
                {{ proyecto.descripcionLink2 }}
              </p>
              <a href="{{ proyecto.link2 }}">{{ proyecto.link2 }}</a>
              <div class="minidivisor"></div>
            </li>
            <li *ngIf="proyecto.link3">
              <p *ngIf="proyecto.descripcionLink3">
                {{ proyecto.descripcionLink3 }}
              </p>
              <a href="{{ proyecto.link3 }}">{{ proyecto.link3 }}</a>
              <div class="minidivisor"></div>
            </li>
          </ul>
        </div>
        <div class="divisor"></div>
      </ng-template>
    </li>
  </ul>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="editarProyectoForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Proyecto</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="proyectoForm"
          (ngSubmit)="onSubmit()"
          class="formularios"
        >
          <div class="form-group">
            <!--CAMPO NOMBRE DEL PROYECTO-->
            <label for="nombre" class="form-label">Nombre del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              required
              formControlName="nombre"
              placeholder=" Ingrese el nombre del proyecto"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="proyectoForm.get('nombre')?.touched && proyectoForm.get('nombre')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre del proyecto es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('nombre')?.touched && proyectoForm.get('nombre')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              El nombre del proyecto debe tener un minimo de 3 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('nombre')?.touched && proyectoForm.get('nombre')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              El nombre del proyecto debe tener un maximo de 40 caracteres
            </div>
          </div>
            <!--CAMPO DESCRIPCION DEL PROYECTO-->
          <div class="form-group">
            <label for="descripcion">Descripcion del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              required
              formControlName="descripcion"
              placeholder="Ingrese una descripcion del proyecto"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="proyectoForm.get('descripcion')?.touched && proyectoForm.get('descripcion')?.errors?.['required']"
              class="alert alert-danger"
            >
              La descripcion del proyecto es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcion')?.touched && proyectoForm.get('descripcion')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              la descripcion debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcion')?.touched && proyectoForm.get('descripcion')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un maximo de 200 caracteres
            </div>
          </div>
            <!--CAMPO INICIO DEL PROYECTO-->
          <div class="form-group">
            <label for="inicioProyecto">Inicio del proyecto</label>
            <input
              type="text"
              class="form-control"
              id="inicioProyecto"
              name="inicioProyecto"
              required
              formControlName="inicioProyecto"
              placeholder="ingrese cuando inicio el proyecto"
            />

            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="proyectoForm.get('inicioProyecto')?.touched && proyectoForm.get('inicioProyecto')?.errors?.['required']"
              class="alert alert-danger"
            >
              La fecha de finalizacion es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('inicioProyecto')?.touched && proyectoForm.get('inicioProyecto')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La fecha de inicio debe tener un minimo de 4 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('inicioProyecto')?.touched && proyectoForm.get('inicioProyecto')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La fecha de inicio debe tener un maximo de 20 caracteres
            </div>
          </div>
            <!--CAMPO FINALIZACION DEL PROYECTO-->
          <div class="form-group">
            <label for="finalizacionProyecto">Finalizacion proyecto</label>
            <input
              type="text"
              class="form-control"
              id="finalizacionProyecto"
              name="finalizacionProyecto"
              required
              formControlName="finalizacionProyecto"
              placeholder="Ingrese cuando finalizo el proyecto"
            />

            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="proyectoForm.get('finalizacionProyecto')?.touched && proyectoForm.get('finalizacionProyecto')?.errors?.['required']"
              class="alert alert-danger"
            >
              La fecha de finalizacion es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('finalizacionProyecto')?.touched && proyectoForm.get('finalizacionProyecto')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La fecha de finalizacion debe tener un minimo de 4 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('finalizacionProyecto')?.touched && proyectoForm.get('finalizacionProyecto')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La fecha de finalizacion debe tener un maximo de 20 caracteres
            </div>
          </div>
            <!--CAMPO FOTO DEL PROYECTO-->
          <div class="form-group">
            <label for="fotoProyecto">foto proyecto</label>
            <input
              type="text"
              class="form-control"
              id="fotoProyecto"
              name="fotoProyecto"
              required
              formControlName="fotoProyecto"
              placeholder="Insgrese el url de la foto (opcional)"
            />

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('fotoProyecto')?.touched && proyectoForm.get('fotoProyecto')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url de la foto debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('fotoProyecto')?.touched && proyectoForm.get('fotoProyecto')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url de la foto debe tener un maximo de 100 caracteres
            </div>
          </div>
            <!--CAMPO LINK 1 DEL PROYECTO-->
          <div class="form-group">
            <label for="link1">Link al proyecto 1</label>
            <input
              type="url"
              class="form-control"
              id="link1"
              name="link1"
              required
              formControlName="link1"
              placeholder="Insgrese el url al proyecto "
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="proyectoForm.get('link1')?.touched && proyectoForm.get('link1')?.errors?.['required']"
              class="alert alert-danger"
            >
              El url al proyecto es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('link1')?.touched && proyectoForm.get('link1')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url al proyecto debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('link1')?.touched && proyectoForm.get('link1')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url del proyecto debe tener un maximo de 100 caracteres
            </div>
          </div>
          <!--CAMPO DESCRIPCION LINK 1 DEL PROYECTO-->
          <div class="form-group">
            <label for="descripcionLink1">Descripcion del link 1</label>
            <input
              type="text"
              class="form-control"
              id="descripcionLink1"
              name="descripcionLink1"
              required
              formControlName="descripcionLink1"
              placeholder="Insgrese una descripcion para la url puesta(opcional)"
            />

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink1')?.touched && proyectoForm.get('descripcionLink1')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink1')?.touched && proyectoForm.get('descripcionLink1')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un maximo de 100 caracteres
            </div>
          </div>
          <!--CAMPO LINK 2 DEL PROYECTO-->
          <div class="form-group">
            <label for="link2">Link al proyecto 2</label>
            <input
              type="url"
              class="form-control"
              id="link2"
              name="link2"
              required
              formControlName="link2"
              placeholder="Insgrese el url al proyecto (opcional)"
            />

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('link2')?.touched && proyectoForm.get('link2')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url al proyecto debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('link2')?.touched && proyectoForm.get('link2')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url del proyecto debe tener un maximo de 100 caracteres
            </div>
          </div>
          <!--CAMPO DESCRIPCION LINK 2 DEL PROYECTO-->
          <div class="form-group">
            <label for="descripcionLink2">Descripcion del link 2</label>
            <input
              type="text"
              class="form-control"
              id="descripcionLink2"
              name="descripcionLink2"
              required
              formControlName="descripcionLink2"
              placeholder="Ingrese una descripcion para la url puesta (opcional)"
            />
            <small
              >Si ingresa una descripcion y su respectivo link esta vacio, la
              descripcion no se mostrara</small
            >
            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink2')?.touched && proyectoForm.get('descripcionLink2')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink2')?.touched && proyectoForm.get('descripcionLink2')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un maximo de 100 caracteres
            </div>
          </div>
          <!--CAMPO LINK 3 DEL PROYECTO-->
          <div class="form-group">
            <label for="link3">Link al proyecto 3</label>
            <input
              type="url"
              class="form-control"
              id="link3"
              name="link3"
              required
              formControlName="link3"
              placeholder="Insgrese el url al proyecto (opcional)"
            />

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('link3')?.touched && proyectoForm.get('link3')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url al proyecto debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('link3')?.touched && proyectoForm.get('link3')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url del proyecto debe tener un maximo de 100 caracteres
            </div>
          </div>
          <!--CAMPO DESCRIPCION LINK 3 DEL PROYECTO-->
          <div class="form-group">
            <label for="descripcionLink3">Descripcion del link 3</label>
            <input
              type="text"
              class="form-control"
              id="descripcionLink3"
              name="descripcionLink3"
              required
              formControlName="descripcionLink3"
              placeholder="Ingrese una descripcion para la url puesta (opcional)"
            />
            <small
              >Si ingresa una descripcion y su respectivo link esta vacio, la
              descripcion no se mostrara</small
            >
            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink3')?.touched && proyectoForm.get('descripcionLink3')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="proyectoForm.get('descripcionLink3')?.touched && proyectoForm.get('descripcionLink3')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un maximo de 100 caracteres
            </div>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="
              proyectoForm.get('nombre')?.invalid ||
              proyectoForm.get('descripcion')?.invalid ||
              proyectoForm.get('inicioProyecto')?.invalid ||
              proyectoForm.get('finalizacionProy')?.invalid ||
              proyectoForm.get('link1')?.invalid||
              proyectoForm.get('descripcionLink1')?.value.length>100||
              proyectoForm.get('descripcionLink1')?.value.length<10 &&
              proyectoForm.get('descripcionLink1')?.value.length>0||
              proyectoForm.get('link2')?.value.length>100||
              proyectoForm.get('link2')?.value.length<10 &&
              proyectoForm.get('link2')?.value.length>0||
              proyectoForm.get('descripcionLink2')?.value.length>100||
              proyectoForm.get('descripcionLink2')?.value.length<10 &&
              proyectoForm.get('descripcionLink2')?.value.length>0||
              proyectoForm.get('link3')?.value.length>100||
              proyectoForm.get('link3')?.value.length<10 &&
              proyectoForm.get('link3')?.value.length>0||
              proyectoForm.get('descripcionLink3')?.value.length>100||
              proyectoForm.get('descripcionLink3')?.value.length<10 &&
              proyectoForm.get('descripcionLink3')?.value.length>0
            "
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
