<div class="habilidadesFuertes container">
  <div class="informacion row">
    <div class="titulo col-11">
      <h1>Habilidades Fuertes</h1>
      <div class="subrayadoTitulos"></div>
    </div>
    <div class="col-1">
      <button
        *ngIf="logeado"
        class="editar"
        (click)="reiniciarForm()"
        type="button"
        class="editar"
        data-toggle="modal"
        data-target="#habilidad-fuerteForm"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <ul class="item-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <li *ngFor="let habilidad of listaHabilidadesFuertes|sortPortOrden" cdkDragBoundary=".habilidadesFuertes" cdkDrag cdkDragLockAxis="y">
        <div class="row">
          <div class="institucion col-11">
            <p class="letraGrande">{{ habilidad.habilidad }}</p>
            <div class="subrayadoSubtitulos"></div>
          </div>
          <div class="botonera col-1">
            <div cdkDragHandle>
              <button class="editar" *ngIf="logeado">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <button
              *ngIf="logeado"
              class="editar"
              (click)="editarHabilidadFuerte(habilidad)"
              type="button"
              class="editar"
              data-toggle="modal"
              data-target="#habilidad-fuerteForm"
            >
              <i class="fas fa-pen"></i>
            </button>

            <button
              class="editar"
              (click)="deleteHabilidadFuerte(habilidad)"
              *ngIf="logeado"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [style.width]="habilidad.valor + '%'"
            attr.aria-valuenow="{{ habilidad.valor }}"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <p style="visibility:hidden">{{ habilidad.valor }}%</p>
          </div>  
        </div>
        <p>{{ habilidad.valor }}%</p>
        <div class="divisor"></div>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="habilidad-fuerteForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--Titulo por si se va a editar-->
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="editar === true">
          Editar Habilidad Fuerte
        </h5>
        <!--Titulo por si se va a crear-->
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="editar === false">
          Crear Habilidad Fuerte
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="habilidadForm"
          (ngSubmit)="onSubmit($event)"
          class="formularios"
        >
          <div class="form-group">
            <label for="habilidad" class="form-label">Habilidad</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="habilidad"
              placeholder=" Ingrese una habilidad fuerte"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre del trabajo es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La habilidad debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La habilidad debe tener un maximo de 40 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="valor">Ingrese un valor</label>
            <input
              type="number"
              class="form-control"
              required
              formControlName="valor"
              placeholder="Ingrese un valor entre 1 y 100 que crea tener en la habilidad"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="habilidadForm.get('valor')?.touched && habilidadForm.get('valor')?.errors?.['required']"
              class="alert alert-danger"
            >
              El valor para la habilidad es requerida
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="habilidadForm.get('valor')?.touched && habilidadForm.get('valor')?.errors?.['max']"
              class="alert alert-danger"
            >
              El valor debete estar entre el 1 y el 100
            </div>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="habilidadForm.invalid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
