<div class="tecnologia container">
  <div class="informacion row">
    <div class="col-11">
      <h2>Tecnologias Y Lenguajes</h2>
      <div class="subrayadoTitulos"></div>
    </div>
    <div class="col-1">
      <button
        *ngIf="logeado"
        class="editar"
        (click)="reiniciarForm()"
        type="button"
        data-toggle="modal"
        data-target="#editarTecnologiaForm"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <ul class="item-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <li *ngFor="let tecnologia of listaTecnologia| sortPortOrden" cdkDragBoundary=".tecnologia" cdkDrag cdkDragLockAxis="y">
      <!--Template por si el objeto tiene foto-->
      <ng-template [ngIf]="tecnologia.tecnologiaImg" class="example-boundary">
        <div class="informacion row">
          <div class="col-3 fotos">
            <img [src]="tecnologia.tecnologiaImg" />
          </div>
          <div class="col-8">
            <h2>{{ tecnologia.nombre }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ tecnologia.descripcion }}</h4>
          </div>
          <div class="botonera col-1">
            <div cdkDragHandle>
              <button class="editar" *ngIf="logeado">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <button
              *ngIf="logeado"
              class="editar"
              (click)="editarTecnologia(tecnologia)"
              type="button"
              data-toggle="modal"
              data-target="#editarTecnologiaForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button
              class="editar"
              (click)="deleteTecnologia(tecnologia)"
              *ngIf="logeado"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="divisor"></div>
      </ng-template>
      <!--Template por si el objeto no tiene foto-->
      <ng-template [ngIf]="!tecnologia.tecnologiaImg">
        <div class="informacion row">
          <div class="col-11">
            <h2>{{ tecnologia.nombre }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ tecnologia.descripcion }}</h4>
          </div>
          <div class="botonera col-1">
            <div cdkDragHandle>
              <button class="editar" *ngIf="logeado">
                <i class="fas fa-bars"></i>
              </button>
            </div>
            <button
              *ngIf="logeado"
              class="editar"
              (click)="editarTecnologia(tecnologia)"
              type="button"
              class="editar"
              data-toggle="modal"
              data-target="#editarTecnologiaForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button
              class="editar"
              (click)="deleteTecnologia(tecnologia)"
              *ngIf="logeado"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="divisor"></div>
      </ng-template>
    </li>
  </ul>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editarTecnologiaForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="educacionForm"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tecnologiaForm" *ngIf="editar===true">Editar Tecnologia</h5>
        <h5 class="modal-title" id="tecnologiaForm" *ngIf="editar===false">Crear Tecnologia</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="tecnologiaForm"
          (ngSubmit)="onSubmit($event)"
          class="formularios"
        >
          <div class="form-group">
            <label for="nombre" class="form-label"
              >Nombre de la tecnologia</label
            >
            <input
              type="text"
              class="form-control"
              required
              formControlName="nombre"
              placeholder=" Ingrese el nombre de la tecnologia"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="tecnologiaForm.get('tecnologia')?.touched && tecnologiaForm.get('tecnologia')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre de la tecnologia es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('tecnologia')?.touched && tecnologiaForm.get('tecnologia')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              El nombre de la tecnologia debe tener un minimo de 3 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('tecnologia')?.touched && tecnologiaForm.get('tecnologia')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              El nombre de la tecnologia debe tener un maximo de 40 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion">Ingrese la descripcion</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="descripcion"
              placeholder="Ingrese la descripcion de la tecnologia"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="tecnologiaForm.get('descripcion')?.touched && tecnologiaForm.get('descripcion')?.errors?.['required']"
              class="alert alert-danger"
            >
              La descripcion es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('descripcion')?.touched && tecnologiaForm.get('descripcion')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('descripcion')?.touched && tecnologiaForm.get('descripcion')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion debe tener un maximo de 200 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="tecnologiaImg">Foto de la tecnologia</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="tecnologiaImg"
              placeholder="Ingrese el url de la foto (opcional)"
            />
            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('tecnologiaImg')?.touched && tecnologiaForm.get('tecnologiaImg')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="tecnologiaForm.get('tecnologiaImg')?.touched && tecnologiaForm.get('tecnologiaImg')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url debe tener un maximo de 100 caracteres
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="
              tecnologiaForm.get('nombre')?.invalid ||
              tecnologiaForm.get('descripcion')?.invalid ||
              (tecnologiaForm.get('tecnologiaImg')?.value.length > 0 &&
                tecnologiaForm.get('tecnologiaImg')?.value.length < 10) ||
              tecnologiaForm.get('tecnologiaImg')?.value.length > 100
            "
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
