<div class="tecnologia container">
    <div class="informacion row">
        <div class=" col-11">
            <h2>Tecnologias</h2>
            <div class="subrayadoTitulos"></div>
        </div>
        <div class="col-1">
           <app-crear-tecnologia (onCrearTecnologia)="crearTecnologia($event)" ></app-crear-tecnologia>
        </div>
    </div>
    <app-item-tecnologias
    *ngFor="let tecnologia of listaTecnologias"
    [tecnologia]="tecnologia"
    (onDeleteTecnologia)="deleteTecnologia(tecnologia)"
     (onEditTecnologia)="editTecnologia(tecnologia)"
>
    </app-item-tecnologias>
</div>
