<div class="experiencia container">
  <div class="informacion row">
    <div class="titulo col-11">
      <h2>Experiencia</h2>
      <div class="subrayadoTitulos"></div>
    </div>
    <div class="col-1">
      <button
        *ngIf="logeado"
        type="button"
        class="editar"
        data-toggle="modal"
        data-target="#experienciaForm"
        (click)="reiniciarForm()"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  <ul class="item-list" cdkDropList (cdkDropListDropped)="drop($event)"> 
    <li *ngFor="let experiencia of listaExperiencia" cdkDrag>
      <!--Template por si el objeto tiene foto-->
      <ng-template [ngIf]="experiencia.fotoTrabajo">
        <div class="informacion row">
          <div class="col-3">
            <img [src]="experiencia.fotoTrabajo" />
          </div>
          <div class="col-8">
            <h2>{{ experiencia.nombreTrabajo }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ experiencia.posicionLaboral }}</h4>
            <h4>{{ experiencia.descripcionLaboral }}</h4>
            <p>
              <time>{{ experiencia.inicioTrabajo }}</time> -
              <time>{{ experiencia.finalizacionTrabajo }}</time>
            </p>
          </div>
          <div class="botonera col-1">
            <button
              *ngIf="logeado"
              class="editar"
              (click)="editarExperiencia(experiencia)"
              type="button"
              data-toggle="modal"
              data-target="#experienciaForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button
              class="editar"
              (click)="deleteExperiencia(experiencia)"
              *ngIf="logeado"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="divisor"></div>
      </ng-template>
      <!--Template por si el objeto no tiene foto-->
      <ng-template [ngIf]="!experiencia.fotoTrabajo">
        <div class="informacion row">
          <div class="col-11">
            <h2>{{ experiencia.nombreTrabajo }}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{ experiencia.posicionLaboral }}</h4>
            <h4>{{ experiencia.descripcionLaboral }}</h4>
            <p>
              <time>{{ experiencia.inicioTrabajo }}</time> -
              <time>{{ experiencia.finalizacionTrabajo }}</time>
            </p>
          </div>
          <div class="botonera col-1">
            <button
              *ngIf="logeado"
              class="editar"
              (click)="editarExperiencia(experiencia)"
              type="button"
              data-toggle="modal"
              data-target="#experienciaForm"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button
              class="editar"
              (click)="deleteExperiencia(experiencia)"
              *ngIf="logeado"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="divisor"></div>
      </ng-template>
    </li>
  </ul>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="experienciaForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="experienciaForm"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content modal">
      <div class="modal-header">
        <!--Titulo por si se va a crear-->
        <h5 class="modal-title" id="experienciaForm" *ngIf="editar === true">
          Editar Experiencia Laboral
        </h5>
        <!--Titulo por si se va a editar-->
        <h5 class="modal-title" id="experienciaForm" *ngIf="editar === false">
          Crear Experiencia Laboral
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="experienciaForm"
          (ngSubmit)="onSubmit($event)"
          class="formularios"
        >
          <div class="form-group">
            <label for="nombreTrabajo" class="form-label"
              >Nombre de la empresa</label
            >
            <input
              type="text"
              class="form-control"
              required
              formControlName="nombreTrabajo"
              placeholder=" Ingrese el nombre de la empresa"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="experienciaForm.get('nombreTrabajo')?.touched && experienciaForm.get('nombreTrabajo')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre del trabajo es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('nombreTrabajo')?.touched && experienciaForm.get('nombreTrabajo')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              El nombre del trabajo debe tener un minimo de 3 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('nombreTrabajo')?.touched && experienciaForm.get('nombreTrabajo')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              El nombre del trabajo debe tener un maximo de 40 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="posicionLaboral">Ingrese su posicion laboral</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="posicionLaboral"
              placeholder="Ingrese su posicion laboral"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="experienciaForm.get('posicionLaboral')?.touched && experienciaForm.get('posicionLaboral')?.errors?.['required']"
              class="alert alert-danger"
            >
              Su posicion laboral es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('posicionLaboral')?.touched && experienciaForm.get('posicionLaboral')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              la posicion debe tener un minimo de 5 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('posicionLaboral')?.touched && experienciaForm.get('posicionLaboral')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              El titulo debe tener un maximo de 30 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="descripcionLaboral">Descripcion laboral</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="descripcionLaboral"
              placeholder="Ingrese la descripcion de su labor"
            />

            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="experienciaForm.get('descripcionLaboral')?.touched && experienciaForm.get('descripcionLaboral')?.errors?.['required']"
              class="alert alert-danger"
            >
              La descripcion de su labor es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('descripcionLaboral')?.touched && experienciaForm.get('descripcionLaboral')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La descripcion laboral debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('descripcionLaboral')?.touched && experienciaForm.get('descripcionLaboral')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La descripcion laboral debe tener un maximo de 200 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="inicioTrabajo">Inicio laboral</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="inicioTrabajo"
              placeholder="ingrese cuando inicio su labor"
            />

            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="experienciaForm.get('inicioTrabajo')?.touched && experienciaForm.get('inicioTrabajo')?.errors?.['required']"
              class="alert alert-danger"
            >
              La fecha de inicio es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('inicioTrabajo')?.touched && experienciaForm.get('inicioTrabajo')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La fecha de inicio debe tener un minimo de 4 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('inicioTrabajo')?.touched && experienciaForm.get('inicioTrabajo')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La fecha de inicio debe tener un maximo de 20 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="finalizacionTrabajo">Finalizacion laboral</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="finalizacionTrabajo"
              placeholder="ingrese cuando Finalizo su labor"
            />

            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="experienciaForm.get('finalizacionTrabajo')?.touched && experienciaForm.get('finalizacionTrabajo')?.errors?.['required']"
              class="alert alert-danger"
            >
              La fecha de finalizacion es requerida
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('finalizacionTrabajo')?.touched && experienciaForm.get('finalizacionTrabajo')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La fecha de finalizacion debe tener un minimo de 4 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('finalizacionTrabajo')?.touched && experienciaForm.get('finalizacionTrabajo')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La fecha de finalizacion debe tener un maximo de 20 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="fotoTrabajo">logo empresarial</label>
            <input
              type="text"
              class="form-control"
              required
              formControlName="fotoTrabajo"
              placeholder="Insgrese el url de la foto (opcional)"
            />

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="experienciaForm.get('fotoTrabajo')?.touched && experienciaForm.get('fotoTrabajo')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La url de la foto debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="experienciaForm.get('fotoTrabajo')?.touched && experienciaForm.get('fotoTrabajo')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La url de la foto debe tener un maximo de 100 caracteres
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="
              experienciaForm.get('nombreTrabajo')?.invalid ||
              experienciaForm.get('descripcionLaboral')?.invalid ||
              experienciaForm.get('inicioTrabajo')?.invalid ||
              experienciaForm.get('finalizacionTrabajo')?.invalid ||
              (experienciaForm.get('fotoTrabajo')?.value.length > 0 &&
                experienciaForm.get('fotoTrabajo')?.value.length < 10) ||
              experienciaForm.get('fotoTrabajo')?.value.length > 100
            "
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
