<div class="usuario container-xxl">    
    <div class="row">
        <div id="banner" class="col-12">
            <div id="profile-picture" class="col">
                <img src="assets/img/FotoPerfil.jpeg" alt="Foto Perfil">
            </div>
        </div>

    </div>
    <div class="informacion row">
        <div class="titulo col-11">
            <h2>Informacion Personal</h2>
            <div class="subrayadoTitulos"></div>
        </div>
        <div class="col-1">
            <button class="editar"><i class="fas fa-pen"></i></button>
        </div>
        <div id="nombres"class="col-12">
            <h5>Esteban Orfeo Candioti</h5>
        </div>

        <div id="titulos" class="col-12">
            <h5>Full stack develepor Jr</h5>
        </div>
    </div>
</div>
