<!--Template por si el objeto tiene foto-->
<ng-template [ngIf]="experiencia.fotoTrabajo">
    <div class="informacion row">
        <div class="col-3">
            <img [src]="experiencia.fotoTrabajo"> 
        </div>
        <div class="col-8">
            <h2>{{experiencia.nombreTrabajo}}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{experiencia.posicionLaboral}}</h4>
            <h4>{{experiencia.descripcionLaboral}}</h4>
            <p><time>{{experiencia.inicioTrabajo}}</time> - <time>{{experiencia.finalizacionTrabajo}}</time></p>
        </div>
        <div class="botonera col-1">
            <button class="editar"(click)="(onEdit(experiencia))"><i class="fas fa-pen"></i></button>
            <button class="editar" (click)="(onDelete(experiencia))"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="divisor"></div>
</ng-template> 
<!--Template por si el objeto no tiene foto-->
<ng-template [ngIf]="!experiencia.fotoTrabajo">
    <div class="informacion row">
        <div class="col-11">
            <h2>{{experiencia.nombreTrabajo}}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{experiencia.posicionLaboral}}</h4>
            <h4>{{experiencia.descripcionLaboral}}</h4>
            <p><time>{{experiencia.inicioTrabajo}}</time> - <time>{{experiencia.finalizacionTrabajo}}</time></p>
        </div>
        <div class="botonera col-1">
            <button class="editar"(click)="(onEdit(experiencia))"><i class="fas fa-pen"></i></button>
            <button class="editar" (click)="(onDelete(experiencia))"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="divisor"></div>
</ng-template> 