<!-- Button trigger modal -->
<button type="button" class="editar login" data-toggle="modal" data-target="#login" (click)="reiniciarForm()">
    Log in
  </button>
  
  <!-- Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    id="login"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">iniciar sesion</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" #closeButton>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit($event)"
            class="formularios"
          >
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                required
                formControlName="email"
                placeholder=" Ingrese su email"
              />
  
              <!--Alerta por si el campo esta vacio-->
              <div
                *ngIf="
                  loginForm.get('email')?.touched &&
                  loginForm.get('email')?.hasError('required')
                "
                class="alert alert-danger"
              >
                El email es requerido
              </div>
  
              <!--Alerta por si el campo tiene pocos caracteres-->
              <div
                *ngIf="
                  loginForm.get('email')?.touched &&
                  loginForm.get('email')?.hasError('email')
                "
                class="alert alert-danger"
              >
                El email es invalido
              </div>
              >
            </div>
  
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                formControlName="password"
                placeholder="Ingrese usu contraseña"
              />
  
              <!--Alerta por si el campo esta vacio-->
              <div
                *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                class="alert alert-danger"
              >
                La contraseña es requerida
              </div>
  
              <!--Alerta por si el tiene muchos caracteres-->
              <div
                *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
                class="alert alert-danger"
              >
                La contraseña debe tener un minimo de 6 caracteres
              </div>
  
              <!--Alerta por si el tiene muchos caracteres-->
              <div
                *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['maxlength']"
                class="alert alert-danger"
              >
                La contraseña debe tener un maximo de 15 caracteres
              </div>
              <div *ngIf="verificado===false" class="alert alert-danger">
                El email o la contraseña son incorrectos
              </div>
            </div>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="loginForm.invalid"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  