<div class="row">
    <div class="institucion col-11">
        <h2>{{habilidad.habilidad}}</h2>
        <div class="subrayadoSubtitulos"></div>
    </div>
    <div class="botonera col-1">
        <button class="editar" (click)="(onEdit(habilidad))"><i class="fas fa-pen"></i></button>
        <button class="editar" (click)="(onDelete(habilidad))"><i class="fas fa-trash"></i></button>
    </div>
</div>
<div class="progress">
  <div class="progress-bar" 
        role="progressbar" 
        [style.width]="habilidad.valor + '%'" 
        attr.aria-valuenow="{{habilidad.valor}}" 
        aria-valuemin="0" 
        aria-valuemax="100"
    >  {{habilidad.valor}}%
    </div>
</div>
<div class="divisor"></div>   

