<div class="usuario container">
  <div class="row">
    <div
      id="banner"
      [ngStyle]="{ 'background-image': 'url(' + persona.fotoBanner + ')' }"
      class="col-12"
    >
      <div id="profile-picture" class="col">
        <img src="{{ persona.fotoPerfil }}" alt="Foto Perfil" />
      </div>
    </div>
  </div>
  <div class="informacion row">
    <div class="titulo col-11">
      <h1>Informacion Personal</h1>
      <div class="subrayadoTitulos"></div>
    </div>
    <div class="col-1">
      <button
        *ngIf="logeado"
        class="editar"
        type="button"
        data-toggle="modal"
        data-target="#editarPersonaForm"
        (click)="editarPersona(persona)"
      >
        <i class="fas fa-pen"></i>
      </button>
    </div>
    <div class="col-12">
      <p class="letraMediana">{{ persona.nombre }}</p>
    </div>

    <div *ngIf="persona.titulos" class="col-12">
      <p class="letraMediana">{{ persona.titulos }}</p>
    </div>

    <div class="col-12">
      <p class="letraMediana">{{ persona.ubicacion }}</p>
    </div>

    <!-- Modal -->
    <div
      class="modal fade bd-example-modal-lg"
      id="editarPersonaForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="PersonaForm"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="personaForm">Editar persona</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="personaForm"
              (ngSubmit)="onSubmit()"
              class="formularios"
            >
              <div class="form-group">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="nombre"
                  placeholder=" Ingrese su nombre completo"
                />
                <!--Alerta por si el campo esta vacio-->
                <div
                  *ngIf="personaForm.get('nombre')?.touched && personaForm.get('nombre')?.errors?.['required']"
                  class="alert alert-danger"
                >
                  Su nombre es requerido
                </div>

                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('nombre')?.touched && personaForm.get('nombre')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  Su nombre debe tener un minimo de 10 caracteres
                </div>

                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('nombre')?.touched && personaForm.get('nombre')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  Su nombre debe tener un maximo de 60 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="ubicacion">Ingrese la ubicacion</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="ubicacion"
                  placeholder="Ingrese su ubicacion"
                />
                <!--Alerta por si el campo esta vacio-->
                <div
                  *ngIf="personaForm.get('ubicacion')?.touched && personaForm.get('ubicacion')?.errors?.['required']"
                  class="alert alert-danger"
                >
                  Su ubicacion es requerida
                </div>

                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('ubicacion')?.touched && personaForm.get('ubicacion')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  La ubicacion debe tener un minimo de 10 caracteres
                </div>

                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('ubicacion')?.touched && personaForm.get('ubicacion')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  La ubicacion debe tener un maximo de 80 caracteres
                </div>
              </div>

              <div class="form-group">
                <label for="tecnologiaImg">Ingrese sus titulos</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="titulos"
                  placeholder="Si posee titulos ingreselos"
                />
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('titulos')?.touched && personaForm.get('titulos')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  Los titulos debe tener un minimo de 5 caracteres
                </div>

                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('titulos')?.touched && personaForm.get('titulos')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  Los titulos debe tener un maximo de 100 caracteres
                </div>
              </div>
             
              <div class="form-group">
                <label for="fotoPerfil">Foto perfil</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="fotoPerfil"
                  placeholder="Ingrese la url de la foto de perfil"
                />
                <!--Alerta por si el campo esta vacio-->
                <div
                  *ngIf="personaForm.get('fotoPerfil')?.touched && personaForm.get('fotoPerfil')?.errors?.['required']"
                  class="alert alert-danger"
                >
                  la url es requerida
                </div>
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('fotoPerfil')?.touched && personaForm.get('fotoPerfil')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  La url debe tener un minimo de 10 caracteres
                </div>
                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('fotoPerfil')?.touched && personaForm.get('fotoPerfil')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  La url debe tener un maximo de 150 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="fotoBanner">Foto Banner</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="fotoBanner"
                  placeholder="Ingrese la url de la foto de perfil"
                />
                <!--Alerta por si el campo esta vacio-->
                <div
                  *ngIf="personaForm.get('fotoBanner')?.touched && personaForm.get('fotoBanner')?.errors?.['required']"
                  class="alert alert-danger"
                >
                  la url es requerida
                </div>
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('fotoBanner')?.touched && personaForm.get('fotoBanner')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  La url debe tener un minimo de 10 caracteres
                </div>
                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('fotoBanner')?.touched && personaForm.get('fotoBanner')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  La url debe tener un maximo de 150 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="instagram">Instagram</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="instagram"
                  placeholder="Ingrese su usuario de instagram (opcional)"
                  >
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('instagram')?.touched && personaForm.get('instagram')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  La cuenta debe tener un minimo de 5 caracteres
                </div>
                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('instagram')?.touched && personaForm.get('instagram')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  La cuenta debe tener un maximo de 30 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="numero">Numero de telefono</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="numero"
                  placeholder="Ingrese su numero de telefono (opcional)"
                  >
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('numero')?.touched && personaForm.get('numero')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  El numero de telefono tiene que tener un minimo de 13 caracteres
                </div>
                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('numero')?.touched && personaForm.get('numero')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  El numero de telefono tiene que tener un maximo de 19 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="linkedin">Linkedin</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="linkedin"
                  placeholder="Ingrese la url personalizada de su cuenta de linkedin (opcional)"
                >
                <small>La que aparece en la url de su perfil, ejemplo: https://www.linkedin.com/in/<strong>esteban-candioti</strong>/ </small>
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="personaForm.get('linkedin')?.touched && personaForm.get('linkedin')?.errors?.['minlength']"
                  class="alert alert-danger"
                >
                  El numero de telefono tiene que tener un minimo de 5 caracteres
                </div>
                <!--Alerta por si el tiene muchos caracteres-->
                <div
                  *ngIf="personaForm.get('linkedin')?.touched && personaForm.get('linkedin')?.errors?.['maxlength']"
                  class="alert alert-danger"
                >
                  El numero de telefono tiene que tener un maximo de 30 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  required
                  formControlName="email"
                  placeholder=" Ingrese su email"
                />
                <small>Si ingresa un nuevo email tendra que iniciar sesion con el nuevo email</small>
                <!--Alerta por si el campo esta vacio-->
                <div
                  *ngIf="
                    personaForm.get('email')?.touched &&
                    personaForm.get('email')?.hasError('required')
                  "
                  class="alert alert-danger"
                >
                  El email es requerido
                </div>
    
                <!--Alerta por si el campo tiene pocos caracteres-->
                <div
                  *ngIf="
                    personaForm.get('email')?.touched &&
                    personaForm.get('email')?.hasError('email')
                  "
                  class="alert alert-danger"
                >
                  El email es invalido
                </div>
                >
              </div>
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="
                  personaForm.get('nombre')?.invalid ||
                  personaForm.get('ubicacion')?.invalid ||
                  personaForm.get('descripcion')?.invalid ||
                  (personaForm.get('titulos')?.value.length < 5 &&
                    personaForm.get('titulos')?.value.length > 0) ||
                  personaForm.get('titulos')?.value.length > 100 ||
                  personaForm.get('fotoPerfil')?.invalid ||
                  personaForm.get('fotoBanner')?.invalid ||
                  (personaForm.get('instagram')?.value.length < 5 &&
                  personaForm.get('instagram')?.value.length > 0) ||
                personaForm.get('instagram')?.value.length > 100 ||
                (personaForm.get('email')?.value.length < 5 &&
                personaForm.get('email')?.value.length > 0) ||
              personaForm.get('email')?.value.length > 100 ||
              (personaForm.get('numero')?.value.length < 5 &&
              personaForm.get('numero')?.value.length > 0) ||
            personaForm.get('numero')?.value.length > 100 ||
            (personaForm.get('linkedin')?.value.length < 5 &&
            personaForm.get('linkedin')?.value.length > 0) ||
          personaForm.get('linkedin')?.value.length > 100 
                "
              >
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
