<!--Template por si el objeto tiene foto-->
    <ng-template [ngIf]="proyecto.fotoProyecto">
        <div class="informacion row">
            <div class="col-3">
                <img [src]="proyecto.fotoProyecto"> 
            </div>
            <div class="col-8">
                <h2>{{proyecto.nombre}}</h2>
                <div class="subrayadoSubitulos"></div>
                <h4>{{proyecto.descripcion}}</h4>
                <p><time>{{proyecto.inicioProyecto}}</time> - <time>{{proyecto.finalizacionProyecto}}</time></p>
            </div>
            <div class="botonera col-1">
                <button class="editar"(click)="(onEdit(proyecto))"><i class="fas fa-pen"></i></button>
                <button class="editar" (click)="(onDelete(proyecto))"><i class="fas fa-trash"></i></button>
            </div>
                <ul class="item-list">
            <h2>Links al proyecto :</h2>
            <div class="subrayadoSubtitulos"></div>
    
        </ul>
        </div>
        <div class="divisor"></div>
</ng-template> 
<!--Template por si el objeto no tiene foto-->
<ng-template [ngIf]="!proyecto.fotoProyecto">
    <div class="informacion row">
        <div class="col-11">
            <h2>{{proyecto.nombre}}</h2>
            <div class="subrayadoSubtitulos"></div>
            <h4>{{proyecto.descripcion}}</h4>
            <p><time>{{proyecto.inicioProyecto}}</time> - <time>{{proyecto.finalizacionProyecto}}</time></p>
        </div>
        <div class="botonera col-1">
            <button class="editar"(click)="(onEdit(proyecto))"><i class="fas fa-pen"></i></button>
            <button class="editar" (click)="(onDelete(proyecto))"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Links al proyecto :</h3>
        </div>
        <ul class="item-list links">
            <li>
                <p *ngIf="proyecto.descripcionLink1">{{proyecto.descripcionLink1}}</p>
                <a href="{{proyecto.link1}}">{{proyecto.link1}}</a>
                <div class="minidivisor"></div>
            </li>
            <li *ngIf="proyecto.link2">
                <p *ngIf="proyecto.descripcionLink2">{{proyecto.descripcionLink2}}</p>
                <a href="{{proyecto.link2}}">{{proyecto.link2}}</a>
            </li>
            <li *ngIf="proyecto.link3">
                <p *ngIf="proyecto.descripcionLink3">{{proyecto.descripcionLink3}}</p>
                <a href="{{proyecto.link3}}">{{proyecto.link3}}</a>
            </li>
        </ul>
    </div>
    <div class="divisor"></div>
</ng-template> 