<!-- Button trigger modal -->
<button
  type="button"
  class="editar"
  data-toggle="modal"
  data-target="#habilidad-debilForm"
>
  <i class="fa-solid fa-plus"></i>
</button>

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="habilidad-debilForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear habilidad</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="habilidadForm"
          (ngSubmit)="onSubmit()"
          class="formularios"
        >
          <div class="form-group">
            <label for="habilidad" class="form-label">Habilidad debil</label>
            <input
              type="text"
              class="form-control"
              id="habilidad"
              name="habilidad"
              required
              formControlName="habilidad"
              placeholder=" Ingrese una habilidad debil"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['required']"
              class="alert alert-danger"
            >
              El nombre del trabajo es requerido
            </div>

            <!--Alerta por si el campo tiene pocos caracteres-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['minlength']"
              class="alert alert-danger"
            >
              La habilidad debe tener un minimo de 10 caracteres
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="habilidadForm.get('habilidad')?.touched && habilidadForm.get('habilidad')?.errors?.['maxlength']"
              class="alert alert-danger"
            >
              La habilidad debe tener un maximo de 40 caracteres
            </div>
          </div>

          <div class="form-group">
            <label for="valor">Ingrese un valor</label>
            <input
              type="number"
              class="form-control"
              id="valor"
              name="valor"
              required
              formControlName="valor"
              placeholder="Ingrese un valor entre 1 y 100 que crea tener en la habilidad"
            />
            <!--Alerta por si el campo esta vacio-->
            <div
              *ngIf="habilidadForm.get('valor')?.touched && habilidadForm.get('valor')?.errors?.['required']"
              class="alert alert-danger"
            >
              El valor para la habilidad es requerida
            </div>

            <!--Alerta por si el tiene muchos caracteres-->
            <div
              *ngIf="habilidadForm.get('valor')?.touched && habilidadForm.get('valor')?.errors?.['max']"
              class="alert alert-danger"
            >
              El valor debete estar entre el 1 y el 100
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="habilidadForm.invalid"
          >
            Crear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
